@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.plano_fundo{
    width:100vw;
    height:800px;
    background-image: url(Background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.titulo{
    color: white;
    margin-top: 50px;
    margin-left: 140px;
    font-family:'Anton', sans-serif;
}
.cx_central{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.cabecalho{
    color: white;
    font-size: 110px;
    margin: auto;
    font-family:'Anton', sans-serif
}
.cx_amarela{
    background-color: yellow;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:50px;
}

